[submodule "packages/feng3d"]
	path = packages/feng3d
	url = https://gitlab.com/feng3d/feng3d.git
[submodule "packages/examples"]
	path = packages/examples
	url = https://gitlab.com/feng3d/examples.git
[submodule "packages/editor"]
	path = packages/editor
	url = https://gitlab.com/feng3d/editor.git
[submodule "packages/@feng3d/core"]
	path = packages/@feng3d/core
	url = https://gitlab.com/feng3d/core.git
[submodule "packages/@feng3d/assets"]
	path = packages/@feng3d/assets
	url = https://gitlab.com/feng3d/assets.git
[submodule "packages/@feng3d/bezier"]
	path = packages/@feng3d/bezier
	url = https://gitlab.com/feng3d/bezier.git
[submodule "packages/@feng3d/event"]
	path = packages/@feng3d/event
	url = https://gitlab.com/feng3d/event.git
[submodule "packages/@feng3d/filesystem"]
	path = packages/@feng3d/filesystem
	url = https://gitlab.com/feng3d/filesystem.git
[submodule "packages/@feng3d/math"]
	path = packages/@feng3d/math
	url = https://gitlab.com/feng3d/math.git
[submodule "packages/@feng3d/objectview"]
	path = packages/@feng3d/objectview
	url = https://gitlab.com/feng3d/objectview.git
[submodule "packages/@feng3d/parsers"]
	path = packages/@feng3d/parsers
	url = https://gitlab.com/feng3d/parsers.git
[submodule "packages/@feng3d/particlesystem"]
	path = packages/@feng3d/particlesystem
	url = https://gitlab.com/feng3d/particlesystem.git
[submodule "packages/@feng3d/polyfill"]
	path = packages/@feng3d/polyfill
	url = https://gitlab.com/feng3d/polyfill.git
[submodule "packages/@feng3d/renderer"]
	path = packages/@feng3d/renderer
	url = https://gitlab.com/feng3d/renderer.git
[submodule "packages/@feng3d/serialization"]
	path = packages/@feng3d/serialization
	url = https://gitlab.com/feng3d/serialization.git
[submodule "packages/@feng3d/shortcut"]
	path = packages/@feng3d/shortcut
	url = https://gitlab.com/feng3d/shortcut.git
[submodule "packages/@feng3d/terrain"]
	path = packages/@feng3d/terrain
	url = https://gitlab.com/feng3d/terrain.git
[submodule "packages/@feng3d/ui"]
	path = packages/@feng3d/ui
	url = https://gitlab.com/feng3d/ui.git
[submodule "packages/@feng3d/watcher"]
	path = packages/@feng3d/watcher
	url = https://gitlab.com/feng3d/watcher.git
[submodule "packages/@feng3d-plugins/cannon"]
	path = packages/@feng3d-plugins/cannon
	url = https://gitlab.com/feng3d/cannon.git
[submodule "packages/@feng3d-plugins/cannon-plugin"]
	path = packages/@feng3d-plugins/cannon-plugin
	url = https://gitlab.com/feng3d/cannon-plugin.git
[submodule "packages/@feng3d-plugins/threejsloader"]
	path = packages/@feng3d-plugins/threejsloader
	url = https://gitlab.com/feng3d/threejsloader.git
[submodule "packages/@feng3d/ecs"]
	path = packages/@feng3d/ecs
	url = https://gitlab.com/feng3d/ecs.git
