[submodule "temp/feng3d"]
	path = temp/feng3d
	url = https://gitee.com/feng3d/feng3d.git
[submodule "packages/event"]
	path = packages/event
	url = https://gitee.com/feng3d/event.git
[submodule "packages/error-logger"]
	path = packages/error-logger
	url = https://gitee.com/feng3d/error-logger.git
[submodule "packages/math"]
	path = packages/math
	url = https://gitee.com/feng3d/math.git
[submodule "packages/objectview"]
	path = packages/objectview
	url = https://gitee.com/feng3d/objectview.git
[submodule "packages/particlesystem"]
	path = packages/particlesystem
	url = https://gitee.com/feng3d/particlesystem.git
[submodule "packages/path"]
	path = packages/path
	url = https://gitee.com/feng3d/path.git
[submodule "packages/polyfill"]
	path = packages/polyfill
	url = https://gitee.com/feng3d/polyfill.git
[submodule "packages/reactivity"]
	path = packages/reactivity
	url = https://gitee.com/feng3d/reactivity.git
[submodule "packages/serialization"]
	path = packages/serialization
	url = https://gitee.com/feng3d/serialization.git
[submodule "packages/shortcut"]
	path = packages/shortcut
	url = https://gitee.com/feng3d/shortcut.git
[submodule "packages/terrain"]
	path = packages/terrain
	url = https://gitee.com/feng3d/terrain.git
[submodule "packages/watcher"]
	path = packages/watcher
	url = https://gitee.com/feng3d/watcher.git
[submodule "packages/webgpu"]
	path = packages/webgpu
	url = https://gitee.com/feng3d/webgpu.git
[submodule "packages/eslint-plugin-feng3d"]
	path = packages/eslint-plugin-feng3d
	url = https://gitee.com/feng3d/eslint-plugin-feng3d.git
