[submodule "packages/event"]
	path = packages/event
	url = https://gitlab.com/feng3d/event.git
[submodule "packages/bezier"]
	path = packages/bezier
	url = https://gitlab.com/feng3d/bezier.git
[submodule "packages/objectview"]
	path = packages/objectview
	url = https://gitlab.com/feng3d/objectview.git
[submodule "packages/polyfill"]
	path = packages/polyfill
	url = https://gitlab.com/feng3d/polyfill.git
[submodule "packages/task"]
	path = packages/task
	url = https://gitlab.com/feng3d/task.git
