# Feng3D Monorepo npm config

# Use npm public registry
registry=https://registry.npmjs.org/

# Save exact version
save-exact=true

# Install development dependencies
save-dev=true

# Fund message
fund=false

# Audit
audit-level=moderate
